# Auto detect text files and perform LF normalization
* text=auto

# Documents
*.md text diff=markdown
*.txt text
*.json text
*.yml text
*.yaml text
*.xml text
*.html text
*.css text
*.js text
*.ts text
*.tsx text

# Graphics
*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.svg text

# Logs
*.log text
firebase-debug.log text

# Source code
*.js text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.json text eol=lf
*.html text eol=lf
*.css text eol=lf
*.scss text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf 